<!DOCTYPE html>
<html lang="en">
<head>
    <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
    <link rel="stylesheet" href="../static/style.css">
    <meta name="author" content="Johnny Yao">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <script src="../static/script.js" defer></script>

</head>
<body>
    <nav>
        <a href = "../index.html">Home</a>
        <a href = "explore.html">Explore</a>
        <a id="navselected" href = "exhibitions.html">Exhibitions</a>
        <a href = "tickets.html">Tickets</a>
        <a href = "checkout.html">Checkout</a>
    </nav>
    
    <div class = "main"> 
        <h3>Exhibit 1: Traveling Tech: The History of Cross-cultural Technology and its Influence</h3>
        <p>This exhibit gives isnsight to the rise of technological advancements across the world. From ancient trade routes to the digital age, discover how societies around the world have borrowed, adapted, and built upon each other's ideas to shape the world we live in today. Traveling Tech promotes the diversity and legacies of human innovation to better understand our backgrounds and our futures.</p>
        <br><br>
        <h3>Exhibit 2: ARTificial Intelligence: The Complex Backbone of AI Models</h3>
        <p>ARTificial Intelligence reveals the intricate systems powering today's most important technology, revealing the layers of data, algorithms, and human planning that creates AI models. Visitors will explore how machines learn to recognize patterns, generate images, and respond to prompts. We invite you to deepen your understanding about AI and learn the creative processes that shape its abilities.</p>
    </div>
    <footer>© 2026 MonoMuse. All rights reserved. </footer>
</body>
</html>