<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Johnny Yao">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>

</head>
<body>
    <h1>MonoMuse</h1>
    <nav>
        <a href = "../index.html">Home</a>
        <a href = "explore.html">Explore</a>
        <a href = "exhibitions.html">Exhibitions</a>
        <a href = "tickets.html">Tickets</a>
        <a href = "checkout.html">Checkout</a>
    </nav>
    
    <div class = "main"> 
        <h1>Explore</h1>
        <img src = "../static/images.jpg" alt = "MonoMuse Museum Exterior" style width="36%">

        <h3>Mission Statement</h3>
        <p>Monomuse is an established museum that highlights the intersection between art, technology, and people. We are committed to our mission on sharing the art of progress and serving as a model for the next generation's innovation. </p>
        
        <h3>History</h3>
        <p>Monomuse was founded on November 10th, 2006 and has been an invaluable asset in the community, being a pillar in education, community service, and birthday parties. We look forward to sustaining this level of excellence and community engagement and hope you come pay us a visit.</p>

        <h3>Milestones</h3>
        <ul>
            <li>2023: Monomuse expands and doubles in size to include breathtaking art exhibits and auditoriums for groundbreaking presentations and performances.</li>
            <li>2016: Monomuse celebrates 10 years of operations with Bill Nye as a guest speaker</li>
            <li>2012: Monomuse wins the "Best Museum for Technology" award with a powerful arrangement of technological displays</li>
            <li>2006: Monomuse welcomes hundreds of people in its opening with an inaugural exhibit on penguins</li>
        </ul>

    </div>
    <footer>© 2026 MonoMuse. All rights reserved. </footer>
</body>
</html>