<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="author" content="Johnny Yao">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonoMuse</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <script src="../static/script.js" defer></script>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>


</head>
<body onload="addYear()">
    <div class="container">
        <header class="header">
            <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
        </header>
        <nav class="nav_bar">
           
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="membership.html">Membership</a>
            <a href="buytickets.html">Tickets</a>

            <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">☰</a>
     
        </nav>
        
        <main class="main">
            <h3>Exhibit 1: Traveling Tech: The History of Cross-cultural Technology and its Influence</h3>
            <p>This exhibit gives isnsight to the rise of technological advancements across the world. From ancient trade routes to the digital age, discover how societies around the world have borrowed, adapted, and built upon each other's ideas to shape the world we live in today. Traveling Tech promotes the diversity and legacies of human innovation to better understand our backgrounds and our futures.</p>
            <br><br>
            
        </main>
        <figure class="main-img">
            <!--img source: https://andrewggibson.com/tag/future-trends/-->
             <img id="exhibit" src="../static/culturaltech.webp" alt="culture" width = 50% > 
        </figure>
        <main class="main2">
            <h3>Exhibit 2: ARTificial Intelligence: The Complex Backbone of AI Models</h3>
            <p>ARTificial Intelligence reveals the intricate systems powering today's most important technology, revealing the layers of data, algorithms, and human planning that creates AI models. Visitors will explore how machines learn to recognize patterns, generate images, and respond to prompts. We invite you to deepen your understanding about AI and learn the creative processes that shape its abilities.</p>

        </main>
        <figure class="main-img2">
            <!--img source: https://newo.ai/insights/what-is-an-ai-model-exploring-types-and-their-applications/-->
             <img id="exhibit2" src="../static/aimodel.jpg" alt="ai" width = 100%> 
        </figure>
        <footer class="footer">
            <p id="copy"></p>
        </footer>
    </div>
</body>
</html>